test markdown

In [ ]:
print("hello")

hello

In [4]:
if True:
    print("true")
else:
    print("false")

true

In [9]:
# multi line
name = "sakda homhuan 1 \n" +\
        "sakda homhuan 2 \n" +\
        "sakda homhuan 3 "
print(name)

sakda homhuan 1
sakda homhuan 2
sakda homhuan 3

In [10]:
# case sensitive
A = "sakda"
a = 12

print(A, a)

sakda 12

In [15]:
""" fff  """

' fff  '

In [18]:
myVariableName = "sakda"
MyLastName = "homhuan"
my_first_name = "sakda"

print(myVariableName, MyLastName, my_first_name)

sakda homhuan sakda

In [19]:
x, y, z = "sakda", "homhuan", 2024
print(x,y,z)

sakda homhuan 2024

In [21]:
myName = ["sakda", 'homhuan', """2024"""]
x, y, z = myName

print(myName)
print(x)
print(y)
print(z)

['sakda', 'homhuan', '2024']
sakda
homhuan
2024

In [28]:
# casting
myNumber = 29

a = str(myNumber) + str(1)
b = float(myNumber) + 1
c = int(myNumber) + 1

print(a, type(a))
print(b, type(b))
print(c, type(c))

291 <class 'str'>
30.0 <class 'float'>
30 <class 'int'>

In [ ]:
x = "dog"

# create function
def myFunction():
    print("this is a " + x)

# call function
myFunction()

this is a dog

In [41]:
# m = ""
def myFunction2():
    global m
    m = "sakda" #local variable
    print(m) 

myFunction2()

print(m)

sakda
sakda

In [39]:
print(j)

NameError: name 'j' is not defined